<style>

  
  

.card {

display: inline-flex;

align-items: center;

justify-content: center;

position: relative;

flex-basis: calc(25% - 1.5rem);

height: 20rem;

overflow: hidden;

}

.card.red {

background: #de3163;

}

.card.yellow {

background: #dfff00;

}

.card.light-orange {

background: #ffbf00;

}

.card.orange {

background: #ff7f50;

}

.card.green {

background: #9fe2bf;

}

.card.blue {

background: #6495ed;

}

.card.purple {

background: #ccccff;

}

.card .card__product {

width: 50%;

padding: 1rem;

display: block;

position: relative;

z-index: 2;

transition: 0.7s all cubic-bezier(0.25, 0.5, 0.39, 1.45);

}

.card .card__fruit {

display: block;

position: absolute;

width: 60%;

transition: 0.25s all cubic-bezier(0.25, 0.5, 0.39, 1.45);

top: 50%;

left: 50%;

transform: translate(-50%, -50%) scale(0.25);

z-index: 1;

}

.card .card__fruit img {

width: 100%;

}

.card:hover .card__product {

transform: scale(1.2);

}

.card:hover .card__fruit {

opacity: 1;

}

.card:hover:nth-of-type(6n + 1) .card__fruit:first-of-type {

top: 65%;

left: 40%;

transform: rotate(25deg) scale(1);

z-index: 2;

}

.card:hover:nth-of-type(6n + 1) .card__fruit:nth-of-type(2) {

top: -10%;

left: -20%;

transform: rotate(-45deg) scale(1);

}

.card:hover:nth-of-type(6n + 1) .card__fruit:nth-of-type(3) {

top: 45%;

left: -10%;

transform: rotate(10deg) scale(1);

}

.card:hover:nth-of-type(6n + 2) .card__fruit:first-of-type {

top: -15%;

left: 50%;

transform: rotate(-15deg) scale(1);

}

.card:hover:nth-of-type(6n + 2) .card__fruit:nth-of-type(2) {

top: 75%;

left: -10%;

transform: rotate(33deg) scale(1);

z-index: 2;

}

.card:hover:nth-of-type(6n + 2) .card__fruit:nth-of-type(3) {

top: 45%;

left: 70%;

transform: rotate(-60deg) scale(1);

}

.card:hover:nth-of-type(6n + 3) .card__fruit:first-of-type {

top: 15%;

left: -30%;

transform: rotate(50deg) scale(1);

}

.card:hover:nth-of-type(6n + 3) .card__fruit:nth-of-type(2) {

top: 75%;

left: -10%;

transform: rotate(-33deg) scale(1);

}

.card:hover:nth-of-type(6n + 3) .card__fruit:nth-of-type(3) {

top: 33%;

left: 60%;

transform: rotate(20deg) scale(1);

z-index: 2;

}

.card:hover:nth-of-type(6n + 4) .card__fruit:first-of-type {

top: 5%;

left: 60%;

transform: rotate(-10deg) scale(1);

z-index: 2;

}

.card:hover:nth-of-type(6n + 4) .card__fruit:nth-of-type(2) {

top: 80%;

left: -10%;

transform: rotate(33deg) scale(1);

}

.card:hover:nth-of-type(6n + 4) .card__fruit:nth-of-type(3) {

top: 10%;

left: -30%;

transform: rotate(-33deg) scale(1);

}

.card:hover:nth-of-type(6n + 5) .card__fruit:first-of-type {

top: -15%;

left: 55%;

transform: rotate(35deg) scale(1);

}

.card:hover:nth-of-type(6n + 5) .card__fruit:nth-of-type(2) {

top: 70%;

left: 65%;

transform: rotate(15deg) scale(1);

}

.card:hover:nth-of-type(6n + 5) .card__fruit:nth-of-type(3) {

top: 25%;

left: -15%;

transform: rotate(-20deg) scale(1);

z-index: 2;

}

.card:hover:nth-of-type(6n + 6) .card__fruit:first-of-type {

top: 50%;

left: -30%;

transform: rotate(-25deg) scale(1);

z-index: 2;

}

.card:hover:nth-of-type(6n + 6) .card__fruit:nth-of-type(2) {

top: 66%;

left: 60%;

transform: rotate(25deg) scale(1);

}

.card:hover:nth-of-type(6n + 6) .card__fruit:nth-of-type(3) {

top: 15%;

left: 60%;

transform: rotate(50deg) scale(1);

}

  

.card--wide {

flex-basis: calc(50% - 1rem);

}

.card--wide .card__product {

width: auto;

height: 65%;

}

</style>