---
import Layout from "../layouts/Layout.astro";
import TitleResponsive from "../components/TitleResponsive.astro";
import RepetedSection from "../components/RepetedSection.astro";
import FormInput from "../components/FormInput.astro";
import SelectForm from "../components/SelectForm.astro";
import TextAreaForm from "../components/TextArea.astro";
import Button from "../components/Button.astro";
import Loader from "../components/Loader.astro";
interface Props {
  labeTitle: string;
  inputName: string;
  inputType: string;
  inputPlaceholder: string;
  isRequired?: boolean;
  options?: string[];
  color: string;
}
const selectIndustria = [
  {
    value: "Alimentos",
    label: "Alimentos",
  },
  {
    value: "Artículos de papelería",
    label: "Artículos de papelería",
  },
  {
    value: "Artículos del Hogar",
    label: "Artículos del Hogar",
  },
  {
    value: "Artículos Ferreteros",
    label: "Artículos Ferreteros",
  },
  {
    value: "Automotriz",
    label: "Automotriz",
  },
  {
    value: "Cuidado Personal",
    label: "Cuidado Personal",
  },
  {
    value: "Farmacéutica",
    label: "Farmacéutica",
  },
  {
    value: "Filamentos",
    label: "Filamentos",
  },
  {
    value: "Productos de Limpieza",
    label: "Productos de Limpieza",
  },
  {
    value: "Otros",
    label: "Otros",
  },
];
const selectResina = [
  {
    value: "ABS",
    label: "ABS",
  },
  {
    value: "PET",
    label: "PET",
  },
  {
    value: "Polietileno",
    label: "Polietileno",
  },
  {
    value: "Polipropileno",
    label: "Polipropileno",
  },
  {
    value: "5",
    label: "PS",
  },
  {
    value: "PS/PSC",
    label: "PS/PSC",
  },
  {
    value: "PVC",
    label: "PVC",
  },
  {
    value: "SAN",
    label: "SAN",
  },
];
const selectProcess = [
  {
    value: "Extrusión",
    label: "Extrusión",
  },
  {
    value: "Extrusión Soplo",
    label: "Extrusión Soplo",
  },
  {
    value: "Inyección",
    label: "Inyección",
  },
  {
    value: "Inyección Soplo",
    label: "Inyección Soplo",
  },
  {
    value: "Rotomoldeo",
    label: "Rotomoldeo",
  },
  {
    value: "Termoformado",
    label: "Termoformado",
  },
  {
    value: "Otros",
    label: "Otros",
  },
];
---

<Layout title="Contacto JJUGOS">
  <!-- Contacto formulario -->
  <section class="min-h-screen lg:flex my-28">
    <div
      class="w-full h-full flex flex-col justify-between px-[28px] sm:px-12 py-12 items-center"
    >
      <header class="w-full md:w-[36rem] py-12 flex flex-col">
        <h1
          class="font-bold text${color} flex flex-col font-heading leading-tighter tracking-tighter mt-4 mb-4 md:text-6xl text-2xl text-blue-900"
        >
          Contáctanos
        </h1>
      </header>
      <div class="flex flex-col min-h-screen w-full">
        <form
          id="principalForm"
          class="min-h-screen flex flex-col justify-around"
        >
          <div class="flex justify-between w-full gap-1">
            <FormInput
              labelTitle="Nombre"
              inputName="Nombre"
              inputType="text"
              isRequired
              pattern="[a-zA-Z0-9]+"
              title="Solo letras y números"
              maxlength="40"
            />
            <FormInput
              labelTitle="Apellido"
              inputName="Apellido"
              inputType="text"
              isRequired
              pattern="[a-zA-Z0-9]+"
              title="Solo letras y números"
              maxlength="40"
            />
          </div>
          <div class="flex justify-between w-full gap-3">
            <FormInput
              labelTitle="Correo"
              inputName="Correo"
              inputType="email"
              isRequired
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
              title="Ingresa un email que sea corrrecto"
              maxlength="50"
            />
            <FormInput
              labelTitle="Teléfono"
              inputName="Teléfono"
              inputType="phone"
              isRequired
              pattern="[0-9]{10}"
              title="asegurate que sea un teléfono"
              maxlength="10"
            />
          </div>
          <div class="flex justify-between w-full gap-3">
            <FormInput
              labelTitle="Empresa"
              inputName="Empresa"
              inputType="text"
              pattern="[a-zA-Z0-9]+"
              isRequired
              title="Solo letras y números"
              maxlength="40"
            />
            <SelectForm
              labelTitle="Industria"
              nameSelect="UserInd"
              options={selectIndustria}
              isRequired
            />
          </div>
          <div class="flex justify-between w-full gap-3">
            <FormInput
              labelTitle="Resina en la que Trabajas"
              inputName="resina"
              inputType="text"
              isRequired
              pattern="[a-zA-Z0-9]+"
            />
            <SelectForm
              labelTitle="Tipo de proceso"
              nameSelect="UserInd"
              options={selectProcess}
              isRequired
            />
          </div>
          <TextAreaForm
            labeTitle="Mensaje"
            inputName="Mensaje"
            rows="2"
            required
          />
          <div
            class="flex flex-col items-center justify-center lg:justify-start"
          >
            <Button type="submit" />
            <Loader />
          </div>
        </form>
      </div>
    </div>
    <div class="flex flex-col w-full gap-6 items-center justify-center">
      <ul class="px-12 flex flex-col gap-16">
        <li>
          <div class="flex items-center justify-start gap-2">
            <svg
              width="48px"
              height="48px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M7.37584 4.85915C8.65549 3.61971 10.1969 3 12 3C13.8031 3 15.3372 3.61267 16.6023 4.83803C17.8675 6.06339 18.5 7.54929 18.5 9.29577C18.5 10.169 18.2746 11.169 17.8238 12.2958C17.373 13.4225 16.8277 14.4789 16.1879 15.4648C15.5481 16.4507 14.9156 17.3732 14.2903 18.2324C13.665 19.0916 13.1342 19.7746 12.698 20.2817L12 21C11.8255 20.8028 11.5928 20.5423 11.302 20.2183C11.0112 19.8944 10.4877 19.2465 9.73154 18.2746C8.97539 17.3028 8.31376 16.3592 7.74664 15.4437C7.17953 14.5282 6.66331 13.493 6.19799 12.338C5.73266 11.1831 5.5 10.169 5.5 9.29577C5.5 7.54929 6.12527 6.07043 7.37584 4.85915Z"
                  stroke="#1e3a8a"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M13 9.5C13 10.0523 12.5523 10.5 12 10.5C11.4477 10.5 11 10.0523 11 9.5C11 8.94772 11.4477 8.5 12 8.5C12.5523 8.5 13 8.94772 13 9.5Z"
                  stroke="#1e3a8a"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </g></svg
            >
            <div class="flex flex-col w-full">
              <h4
              class="text-xl bg-gradient-to-r from-cyan-400 via-blue-900 to-blue-500 bg-clip-text text-transparent"
            >
              Ubicación Querétaro
            </h4>
              <a
                href="https://maps.app.goo.gl/N6UkJ71Wi6Bd9PUL6"
                target="_blank"
                class=""
                >Polígono Empresarial Santa Rosa Avenida Hércules Ext.401 Bodega
                14 Santa Rosa de Jauregui, Querétaro C.P. 76220</a
              >
            </div>
          </div>
        </li>
        <li>
          <div class="flex items-center justify-start gap-2">
            <svg
              width="48px"
              height="48px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M7.37584 4.85915C8.65549 3.61971 10.1969 3 12 3C13.8031 3 15.3372 3.61267 16.6023 4.83803C17.8675 6.06339 18.5 7.54929 18.5 9.29577C18.5 10.169 18.2746 11.169 17.8238 12.2958C17.373 13.4225 16.8277 14.4789 16.1879 15.4648C15.5481 16.4507 14.9156 17.3732 14.2903 18.2324C13.665 19.0916 13.1342 19.7746 12.698 20.2817L12 21C11.8255 20.8028 11.5928 20.5423 11.302 20.2183C11.0112 19.8944 10.4877 19.2465 9.73154 18.2746C8.97539 17.3028 8.31376 16.3592 7.74664 15.4437C7.17953 14.5282 6.66331 13.493 6.19799 12.338C5.73266 11.1831 5.5 10.169 5.5 9.29577C5.5 7.54929 6.12527 6.07043 7.37584 4.85915Z"
                  stroke="#1e3a8a"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M13 9.5C13 10.0523 12.5523 10.5 12 10.5C11.4477 10.5 11 10.0523 11 9.5C11 8.94772 11.4477 8.5 12 8.5C12.5523 8.5 13 8.94772 13 9.5Z"
                  stroke="#1e3a8a"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </g></svg
            >
            <div class="flex flex-col w-full">
              <h4
              class="text-xl bg-gradient-to-r from-cyan-400 via-blue-900 to-blue-500 bg-clip-text text-transparent"
              >
                Ubicación Estado de México
              </h4>
              <a
                href="https://maps.app.goo.gl/j6Y8ZQ4xRd4NH4ua6"
                target="_blank"
                class=""
                >Prolongación Boulevard Tultitlán Oriente 3, Barrio Santiaguito,
                Tultitlán, Estado de México, CP 54900</a
              >
            </div>
          </div>
        </li>
        <li>
          <div class="flex items-center justify-start gap-2">
            <svg
              width="48px"
              height="48px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <path
                  d="M3 8L8.44992 11.6333C9.73295 12.4886 10.3745 12.9163 11.0678 13.0825C11.6806 13.2293 12.3194 13.2293 12.9322 13.0825C13.6255 12.9163 14.2671 12.4886 15.5501 11.6333L21 8M6.2 19H17.8C18.9201 19 19.4802 19 19.908 18.782C20.2843 18.5903 20.5903 18.2843 20.782 17.908C21 17.4802 21 16.9201 21 15.8V8.2C21 7.0799 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V15.8C3 16.9201 3 17.4802 3.21799 17.908C3.40973 18.2843 3.71569 18.5903 4.09202 18.782C4.51984 19 5.07989 19 6.2 19Z"
                  stroke="#1e3a8a"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </g></svg
            >
            <div>
              <h4
              class="text-xl bg-gradient-to-r from-cyan-400 via-blue-900 to-blue-500 bg-clip-text text-transparent"
              >
                Correo
              </h4>
              <a
                href="mailto:contacto@compuestosmrt.com?subject=Buen%20%día%20%requiero%20%información%20%debody=necesito%20%saber"
                class="">contacto@compuestosmrt.com</a
              >
            </div>
          </div>
        </li>
        <li>
          <div class="flex items-center justify-start gap-2">
            <svg
              width="48px"
              height="48px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <path
                  d="M16.1007 13.359L15.5719 12.8272H15.5719L16.1007 13.359ZM16.5562 12.9062L17.085 13.438H17.085L16.5562 12.9062ZM18.9728 12.5894L18.6146 13.2483L18.9728 12.5894ZM20.8833 13.628L20.5251 14.2869L20.8833 13.628ZM21.4217 16.883L21.9505 17.4148L21.4217 16.883ZM20.0011 18.2954L19.4723 17.7636L20.0011 18.2954ZM18.6763 18.9651L18.7459 19.7119H18.7459L18.6763 18.9651ZM8.81536 14.7266L9.34418 14.1947L8.81536 14.7266ZM4.00289 5.74561L3.2541 5.78816L3.2541 5.78816L4.00289 5.74561ZM10.4775 7.19738L11.0063 7.72922H11.0063L10.4775 7.19738ZM10.6342 4.54348L11.2346 4.09401L10.6342 4.54348ZM9.37326 2.85908L8.77286 3.30855V3.30855L9.37326 2.85908ZM6.26145 2.57483L6.79027 3.10667H6.79027L6.26145 2.57483ZM4.69185 4.13552L4.16303 3.60368H4.16303L4.69185 4.13552ZM12.0631 11.4972L12.5919 10.9654L12.0631 11.4972ZM16.6295 13.8909L17.085 13.438L16.0273 12.3743L15.5719 12.8272L16.6295 13.8909ZM18.6146 13.2483L20.5251 14.2869L21.2415 12.9691L19.331 11.9305L18.6146 13.2483ZM20.8929 16.3511L19.4723 17.7636L20.5299 18.8273L21.9505 17.4148L20.8929 16.3511ZM18.6067 18.2184C17.1568 18.3535 13.4056 18.2331 9.34418 14.1947L8.28654 15.2584C12.7186 19.6653 16.9369 19.8805 18.7459 19.7119L18.6067 18.2184ZM9.34418 14.1947C5.4728 10.3453 4.83151 7.10765 4.75168 5.70305L3.2541 5.78816C3.35456 7.55599 4.14863 11.144 8.28654 15.2584L9.34418 14.1947ZM10.7195 8.01441L11.0063 7.72922L9.9487 6.66555L9.66189 6.95073L10.7195 8.01441ZM11.2346 4.09401L9.97365 2.40961L8.77286 3.30855L10.0338 4.99296L11.2346 4.09401ZM5.73263 2.04299L4.16303 3.60368L5.22067 4.66736L6.79027 3.10667L5.73263 2.04299ZM10.1907 7.48257C9.66189 6.95073 9.66117 6.95144 9.66045 6.95216C9.66021 6.9524 9.65949 6.95313 9.659 6.95362C9.65802 6.95461 9.65702 6.95561 9.65601 6.95664C9.65398 6.95871 9.65188 6.96086 9.64972 6.9631C9.64539 6.96759 9.64081 6.97245 9.63599 6.97769C9.62634 6.98816 9.61575 7.00014 9.60441 7.01367C9.58174 7.04072 9.55605 7.07403 9.52905 7.11388C9.47492 7.19377 9.41594 7.2994 9.36589 7.43224C9.26376 7.70329 9.20901 8.0606 9.27765 8.50305C9.41189 9.36833 10.0078 10.5113 11.5343 12.0291L12.5919 10.9654C11.1634 9.54499 10.8231 8.68059 10.7599 8.27309C10.7298 8.07916 10.761 7.98371 10.7696 7.96111C10.7748 7.94713 10.7773 7.9457 10.7709 7.95525C10.7677 7.95992 10.7624 7.96723 10.7541 7.97708C10.75 7.98201 10.7451 7.98759 10.7394 7.99381C10.7365 7.99692 10.7335 8.00019 10.7301 8.00362C10.7285 8.00534 10.7268 8.00709 10.725 8.00889C10.7241 8.00979 10.7232 8.0107 10.7223 8.01162C10.7219 8.01208 10.7212 8.01278 10.7209 8.01301C10.7202 8.01371 10.7195 8.01441 10.1907 7.48257ZM11.5343 12.0291C13.0613 13.5474 14.2096 14.1383 15.0763 14.2713C15.5192 14.3392 15.8763 14.285 16.1472 14.1841C16.28 14.1346 16.3858 14.0763 16.4658 14.0227C16.5058 13.9959 16.5392 13.9704 16.5663 13.9479C16.5799 13.9367 16.5919 13.9262 16.6024 13.9166C16.6077 13.9118 16.6126 13.9073 16.6171 13.903C16.6194 13.9008 16.6215 13.8987 16.6236 13.8967C16.6246 13.8957 16.6256 13.8947 16.6266 13.8937C16.6271 13.8932 16.6279 13.8925 16.6281 13.8923C16.6288 13.8916 16.6295 13.8909 16.1007 13.359C15.5719 12.8272 15.5726 12.8265 15.5733 12.8258C15.5735 12.8256 15.5742 12.8249 15.5747 12.8244C15.5756 12.8235 15.5765 12.8226 15.5774 12.8217C15.5793 12.82 15.581 12.8183 15.5827 12.8166C15.5862 12.8133 15.5895 12.8103 15.5926 12.8074C15.5988 12.8018 15.6044 12.7969 15.6094 12.7929C15.6192 12.7847 15.6265 12.7795 15.631 12.7764C15.6403 12.7702 15.6384 12.773 15.6236 12.7785C15.5991 12.7876 15.501 12.8189 15.3038 12.7886C14.8905 12.7253 14.02 12.3853 12.5919 10.9654L11.5343 12.0291ZM9.97365 2.40961C8.95434 1.04802 6.94996 0.83257 5.73263 2.04299L6.79027 3.10667C7.32195 2.578 8.26623 2.63181 8.77286 3.30855L9.97365 2.40961ZM4.75168 5.70305C4.73201 5.35694 4.89075 4.9954 5.22067 4.66736L4.16303 3.60368C3.62571 4.13795 3.20329 4.89425 3.2541 5.78816L4.75168 5.70305ZM19.4723 17.7636C19.1975 18.0369 18.9029 18.1908 18.6067 18.2184L18.7459 19.7119C19.4805 19.6434 20.0824 19.2723 20.5299 18.8273L19.4723 17.7636ZM11.0063 7.72922C11.9908 6.7503 12.064 5.2019 11.2346 4.09401L10.0338 4.99295C10.4373 5.53193 10.3773 6.23938 9.9487 6.66555L11.0063 7.72922ZM20.5251 14.2869C21.3429 14.7315 21.4703 15.7769 20.8929 16.3511L21.9505 17.4148C23.2908 16.0821 22.8775 13.8584 21.2415 12.9691L20.5251 14.2869ZM17.085 13.438C17.469 13.0562 18.0871 12.9616 18.6146 13.2483L19.331 11.9305C18.2474 11.3414 16.9026 11.5041 16.0273 12.3743L17.085 13.438Z"
                  fill="#1e3a8a"></path>
              </g></svg
            >
            <div>
              <h4
              class="text-xl bg-gradient-to-r from-cyan-400 via-blue-900 to-blue-500 bg-clip-text text-transparent"
              >
                Teléfono
              </h4>
              <a href="tel:+525558880919" class="">+52 55 58 88 09 19</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section
    class="w-full inline-flex justify-around self-center items-center flex-col py-7 px-7 lg:px-0"
  >
    <TitleResponsive title="Visítanos en Nuestras Oficinas" isGradient />
    <section
      class="flex flex-col lg:flex-row justify-around w-full py-10 gap-8"
    >
      <div class="flex flex-col justify-center items-center">
        <iframe
          class="w-full lg:w-[500px] rounded-xl"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3730.8971910900364!2d-100.4471062!3d20.7549607!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d357f3f680be33%3A0xc8b1e534e1291079!2sPoligono%20Empresarial%20Santa%20Rosa%20De%20Jauregui!5e0!3m2!1sen!2smx!4v1700635752667!5m2!1sen!2smx"
          width="500"
          height="450"
          style="border:0;"
          allowfullscreen
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
        <Button
          title="Abrir en Google maps"
          href="https://maps.app.goo.gl/8EtGfHXFX5wJ9E8p8"
          isblank
        />
      </div>
      <div class="flex flex-col justify-center items-center">
        <iframe
          class="w-full lg:w-[500px] rounded-xl"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1396.083099298285!2d-99.16346095959578!3d19.654786498418865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f5bcba44963f%3A0x7af65c84706bcff2!2sBlvd.%20Tultitlan%20Ote.%203%2C%20Santiaguito%2C%2054900%20Tultitl%C3%A1n%20de%20Mariano%20Escobedo%2C%20M%C3%A9x.!5e0!3m2!1sen!2smx!4v1700638307667!5m2!1sen!2smx"
          width='500"'
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
        <Button
          title="Abrir en Google maps"
          href="https://maps.app.goo.gl/Qjn1mJ9AsaK1X3YV9"
          isblank
        />
      </div>
    </section>
  </section>
</Layout>
