---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ContactHero from '../components/ContactHero.astro';
import Hero from '../components/Hero.astro';
import Certificades from '../components/Certificades.astro';
import Footer from '../components/Footer.astro';
import FooterBasti from '../components/FooterBasti.astro';
---

<Layout title="JJUGOS">
	<main class="mx-auto max-w-7xl sm:px-6 lg:px-8">
		<Hero />
		<section
		class="container "
		>
			<Certificades />
		</section>
		<!-- <ContactHero /> -->
	</main>
</Layout>


