---
import Showcase from '../assets/showcase-two.svg'

---


<section class="bg-accent py-12">
    <div class="container mx-auto">
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 px-4">
                <h3 class="text-4xl font-bold mb-4">Spark growth and engagement</h3>
                <p class="text-lg mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                <ol class="list-none pl-0 flex gap-x-2">
                    <li class="relative pl-10 mb-4">
                        <span class="absolute left-0 top-1/2 transform -translate-y-1/2 w-6 h-6 text-center border-2 border-black rounded-md font-bold">1</span>
                        <a href="#" class="text-black no-underline text-center">Install extension</a>
                    </li>
                    <li class="relative pl-10 mb-4">
                        <span class="absolute left-0 top-1/2 transform -translate-y-1/2 w-6 h-6 text-center border-2 border-black rounded-md font-bold">2</span>
                        <a href="#" class="text-black no-underline text-center">Use any search filter</a>
                    </li>
                    <li class="relative pl-10 mb-4">
                        <span class="absolute left-0 top-1/2 transform -translate-y-1/2 w-6 h-6 text-center border-2 border-black rounded-md font-bold">3</span>
                        <a href="#" class="text-black no-underline text-center">Automate everything</a>
                    </li>
                </ol>
            </div>
            <div class="w-full md:w-1/2 px-4 flex justify-center items-center">
                <img src="http://localhost:3000/src/assets/showcase-two.svg" alt="Showcase mockup" class="w-96">
            </div>
        </div>
    </div>
</section>


