---
import Showcase from '../assets/showcase-two.svg'
import MainTitle from './MainTitle.astro';

interface Props{
    title: string;
    subtitle: string;
    list?: string[];
    image?: string;
}

const { title, subtitle,list,image } = Astro.props;
---

<section class="product-defined ">
    <div class="container-css">
         <div class="row product-brief-items">
            <div class="brief-tab one-half column">
                <MainTitle title={title} />
                <p class="m-paragraph m-margin">{subtitle}</p>
                {list && (
                    <ol class="row">
                        {list.map((item) => (
                            <li class="one-third column" ><a href="#">{item}</a></li>
                        ))}
                    </ol>
                )}
            </div>
            <div
             class="brief-media center one-half column fade-in-right">
                <img src={image??""} alt="Showcase mockup">
            </div>
        </div>
    </div>
</section>


<style >
.product-defined .brief-media img {
    width: 400px;
}

@media (max-width: 700px) {
    .product-defined .brief-media img {
        width: 300px;
    }
}

.product-defined .brief-tab {
    padding-top: 50px;
}

.product-defined ol {
    counter-reset: step;
    align-items: center;
    list-style: none;
}

.product-defined ol > li {
    padding-left: 40px;
    position: relative;
}

.product-defined ol > li::before {
    counter-increment: step;
    content: counter(step);
    width: 26px;
    height: 26px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -13px;
    text-align: center;
    font-size: 13px;
    line-height: 1.8em;
    border: 2px solid #000;
    font-weight: 700;
    border-radius: 8px;
}

.product-defined ol > li a {
    text-decoration: none;
    color: #000;
}

@media (max-width: 900px) {
    .product-defined ol {
        gap: 0px;
        flex-direction: column;
    }

    .product-defined ol .column {
        width: 100%;
        padding-left: 30px;
        margin-left: 0;
    }

    .product-defined ol .column::before {
        width: 18px;
        height: 18px;
        font-size: 10px;
    }

    .product-defined ol .column a {
        font-size: 1.3rem;
    }
}
</style>