---
// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center sm:w-1/2 lg:w-1/3">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-500 sm:text-3xl"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="text-pretty leading-tight text-neutral-600 dark:text-600-400">
          {subTitle}
        </p>
      )
    }
  </div>
  <div
    class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:gap-x-12 sm:gap-y-0 lg:gap-x-24"
  >
    <!-- Clients Group SVGs -->
    <!-- First -->
    <svg
class=" w-96 h-auto"
      version="1.1"
      id="Capa_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 1920 1080"
      style="enable-background:new 0 0 1920 1080;"
      xml:space="preserve"
    >
      <style type="text/css">
        .st0-soriana {
          fill-rule: evenodd;
          clip-rule: evenodd;
          fill: #d52b1e;
        }
        .st1-soriana {
          fill-rule: evenodd;
          clip-rule: evenodd;
          fill: #b6bf00;
        }
      </style>
      <g>
        <g
          id="g12_00000057865771804736324360000010220082582737040774_"
          transform="matrix(30.857143,0,0,30.857143,-0.01110856,0)"
        >
          <g id="g10_00000105406042857975874680000008415902214186055585_">
            <g id="g8_00000085972070936251520310000018272960701091597976_">
              <path
                id="path2_00000062911169315292586500000009839053669513691266_"
                class="st0-soriana"
                d="M16.92,14c-0.71,0-1.7,0.3-2.41,1.29
					c-0.13,0.18-0.24,0.41-0.3,0.63c-0.22,0.77-0.06,1.61,0.41,2.26c0.37,0.5,0.84,0.87,1.25,1.2c0.2,0.16,0.63,0.57,0.77,0.74
					c0.21,0.26,0.36,0.41,0.55,0.98c0.11,0.35,0.13,0.8,0.07,1.06c1.3-1.31,2.71-3.02,2.71-4.88C19.98,15.15,18.45,14,16.92,14"
              ></path>
              <path
                id="path4_00000085213895201950054150000015382758151323456646_"
                class="st1-soriana"
                d="M14.51,21.22
					c-0.54-0.74-1.17-1.18-1.68-1.66c-0.23-0.21-0.47-0.36-0.66-0.54c-0.88-0.87-1.29-1.94-1.08-3.27c0.16-1.04,0.68-1.72,1.3-2.22
					c-0.74-0.54-1.62-0.84-2.62-0.84c-2.47,0-4.53,1.98-4.47,4.43c0.11,4.42,5.64,8.18,7.92,8.95c1.22-0.62,1.87-1.79,1.87-2.99
					C15.09,22.22,14.71,21.5,14.51,21.22"
              ></path>
              <path
                id="path6_00000074435867789990724490000005598454200618213024_"
                class="st0-soriana"
                d="M23.77,21.15c0.42,0.3,1.26,0.7,1.86,0.7
					c0.46,0,0.85-0.17,0.85-0.67c0-0.49-0.62-0.66-1.24-0.91c-0.72-0.28-1.44-0.73-1.44-1.9c0-1.56,1.14-2.39,2.78-2.39
					c1.08,0,2.05,0.55,2.55,1.14l-1.08,1.15c-0.49-0.42-1.03-0.74-1.55-0.74c-0.42,0-0.74,0.17-0.74,0.57
					c0,0.53,0.46,0.66,1.23,0.99c0.74,0.31,1.51,0.77,1.51,1.89c0,1.52-1.21,2.5-2.93,2.5c-1.21,0-2.23-0.51-2.63-0.84L23.77,21.15
					L23.77,21.15z M32.42,20.62c0.06-0.35,0.08-0.66,0.08-0.9c0-0.52-0.16-0.83-0.53-0.83c-0.49,0-0.82,0.5-0.98,1.4
					c-0.06,0.34-0.09,0.71-0.09,0.99c0,0.48,0.13,0.87,0.52,0.87C31.94,22.15,32.24,21.68,32.42,20.62 M32.27,17.59
					c0.75,0,2.06,0.29,2.06,2.09c0,0.24-0.01,0.52-0.05,0.81c-0.32,2.12-1.63,2.97-3.12,2.97c-1.3,0-2.04-0.78-2.04-2.16
					c0-0.26,0.01-0.57,0.06-0.88C29.57,18.16,31.06,17.59,32.27,17.59 M36.66,23.14h-1.67l0.73-4.37l0.04-1.02h1.34l0.03,0.75
					c0.37-0.66,0.89-0.91,1.31-0.91c0.29,0,0.6,0.07,0.8,0.21l-0.48,1.46c-0.19-0.11-0.43-0.19-0.68-0.19
					c-0.43,0-0.77,0.27-0.86,0.77L36.66,23.14L36.66,23.14z M38.9,23.14l0.91-5.22h1.7l-0.91,5.22L38.9,23.14z M41.01,15.31
					c0.51,0,0.83,0.38,0.83,0.84c0,0.62-0.5,1.12-1.14,1.12c-0.52,0-0.82-0.34-0.82-0.81C39.88,15.84,40.36,15.31,41.01,15.31
					 M45.46,18.95c-0.12-0.05-0.29-0.09-0.49-0.09c-0.98,0-1.33,1.48-1.33,2.37c0,0.52,0.12,0.94,0.63,0.94
					c0.37,0,0.62-0.24,0.73-0.62L45.46,18.95L45.46,18.95z M46.67,22.13l-0.08,1.17h-1.52v-0.51l-0.05-0.01
					c-0.38,0.44-0.86,0.68-1.51,0.68c-1.15,0-1.67-0.85-1.67-2.03c0-2.22,1.23-3.85,3.48-3.85c0.45,0,1.26,0.11,2.07,0.43
					L46.67,22.13z M47.39,23.14l0.74-4.31l0.06-1.08h1.41l0.02,0.58c0.4-0.45,0.93-0.74,1.62-0.74c0.85,0,1.36,0.4,1.37,1.3
					c0,0.17-0.02,0.38-0.05,0.58l-0.63,3.66h-1.71l0.53-3.15c0.03-0.17,0.08-0.41,0.08-0.61c0-0.21-0.08-0.44-0.39-0.44
					c-0.44,0-0.7,0.34-0.77,0.78l-0.58,3.42H47.39z M56.88,18.95c-0.12-0.05-0.29-0.09-0.48-0.09c-0.98,0-1.34,1.48-1.34,2.37
					c0,0.52,0.12,0.94,0.64,0.94c0.37,0,0.62-0.24,0.73-0.62L56.88,18.95z M58.08,22.13l-0.08,1.17h-1.52v-0.51l-0.05-0.01
					c-0.38,0.44-0.86,0.68-1.51,0.68c-1.15,0-1.67-0.85-1.67-2.03c0-2.22,1.23-3.85,3.48-3.85c0.45,0,1.26,0.11,2.07,0.43
					L58.08,22.13z"
              ></path>
            </g>
          </g>
        </g>
      </g>
    </svg>

    <!-- Second -->

    <svg version="1.0"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 233.5762634 56.0056725" class=" w-96 h-auto">
      <g>
        <path fill="#0071CE" d="M135.4743805,29.8036613c0-5.5308571-2.3675842-10.4175968-10.3747253-10.4175968
          c-4.1080627,0-7.3714752,1.1708717-9.1407852,2.1957397l1.2968369,4.4372807
          c1.6290054-1.022007,4.2282715-1.8636551,6.6816483-1.8636551c4.0537186-0.0057278,4.7178574,2.2873478,4.7178574,3.7616692
          v0.3549843c-8.8488083-0.0143185-14.4425888,3.0431156-14.4425888,9.2696228c0,3.804615,2.8398743,7.3716202,7.8039322,7.3716202
          c3.0287552,0,5.5880127-1.2224007,7.1167145-3.1519012h0.14888c0,0,1.0078278,4.2168465,6.5815277,2.605114
          c-0.2834167-1.7663269-0.3892975-3.627121-0.3892975-5.8887024V29.8036613z M128.8729248,35.6436958
          c0,0.4465904-0.0372162,0.9103622-0.1689606,1.3082848c-0.5096741,1.7033424-2.2672806,3.1290016-4.4545441,3.1290016
          c-1.8463593,0-3.2950439-1.0449066-3.2950439-3.2349243c0-3.3494339,3.6986694-4.2712402,7.9185486-4.2483406"/>
        <path fill="#0071CE" d="M0,11.8607178c0,0,5.7798676,23.6464272,6.6988559,27.4768028
          c1.082098,4.4773636,3.0201945,6.1320381,8.6140633,5.0298729l3.6127882-14.6630726
          c0.9132233-3.632843,1.5343857-6.237957,2.1241837-9.9395084h0.1001205
          c0.4093895,3.7387676,0.9991894,6.3066654,1.7463303,9.950964c0,0,1.4742775,6.6616497,2.238718,10.1513577
          c0.7442589,3.4897079,2.8397865,5.6911736,8.3277702,4.5002594l8.5997353-32.5066757h-6.9422531l-2.9514389,14.0618954
          c-0.7815647,4.0737133-1.4915771,7.2828732-2.0440712,11.015913h-0.1002064
          c-0.4980659-3.6929626-1.1307602-6.7704353-1.9437752-10.7611256L25.023407,11.8607178h-7.2427864l-3.2635927,13.9502487
          c-0.9304333,4.2597904-1.8006725,7.6750679-2.3474874,11.290741H12.075099
          c-0.5639381-3.3923798-1.3282909-7.712286-2.1385107-11.8117657c0,0-1.9380965-9.9881725-2.6222486-13.429224"/>
        <path fill="#0071CE" d="M61.4092827,29.8036613c0-5.5308571-2.3733482-10.4175968-10.3804893-10.4175968
          c-4.0965271,0-7.3657951,1.1708717-9.1349297,2.1957397l1.2967529,4.4372807
          c1.6232338-1.022007,4.219799-1.8636551,6.6817322-1.8636551c4.0536308-0.0057278,4.7177773,2.2873478,4.7177773,3.7616692
          v0.3549843c-8.8487244-0.0143185-14.4482727,3.0431156-14.4482727,9.2696228c0,3.804615,2.8513184,7.3716202,7.7924004,7.3716202
          c3.0573235,0,5.5938683-1.2224007,7.1225739-3.1519012h0.1544609c0,0,1.0134277,4.2168465,6.5815239,2.605114
          c-0.2862053-1.7663269-0.3835297-3.627121-0.3835297-5.8887024V29.8036613z M54.8020706,35.6436958
          c0,0.4465904-0.0372162,0.9103622-0.1631966,1.3082848c-0.5154495,1.7033424-2.2730522,3.1290016-4.4659042,3.1290016
          c-1.8350945,0-3.2893639-1.0449066-3.2893639-3.2349243c0-3.3494339,3.6985817-4.2712402,7.9184647-4.2483406"/>
        <polygon fill="#0071CE" points="65.011673,11.8607178 65.011673,44.3559456 71.6188812,44.3559456 71.6188812,37.4652748 
          71.6188812,11.8607178"/>
        <path fill="#0071CE" d="M155.7529297,11.8607178v23.9756432c0,3.3093567,0.6211548,5.6167412,1.9580078,7.0309525
          c1.1738281,1.2395706,3.094635,2.0468712,5.3820038,2.0468712c1.9639587,0,3.8847656-0.3778877,4.7923126-0.7071037
          l-0.0802002-5.1615601c-0.6784821,0.1574516-1.4542847,0.2919998-2.5192566,0.2919998
          c-2.2557526,0-3.0000916-1.4285164-3.0000916-4.4000626v-9.1780205h5.7541809v-6.2093353h-5.7541809v-7.6893845"/>
        <path fill="#0071CE" d="M138.675415,19.9500256V44.366539h6.8305206V31.8619881
          c0-0.6727524,0.0428009-1.253891,0.1488647-1.7920895c0.5095062-2.63661,2.5105133-4.3056011,5.3933716-4.3056011
          c0.8044434,0,1.351181,0.088747,1.9581909,0.1832199v-6.4011383c-0.5096893-0.0916023-0.8560028-0.140276-1.4829407-0.140276
          c-2.5564575,0-5.4536438,1.6231861-6.6760406,5.1587009h-0.1687927v-4.6147785"/>
        <path fill="#0071CE" d="M75.4557648,19.9500256V44.366539h6.6557846V30.0355434
          c0-0.6727524,0.0744324-1.3598137,0.3120651-1.9810314c0.5411377-1.4514217,1.8837585-3.1318626,4.0393906-3.1318626
          c2.6794739,0,3.9448624,2.2615795,3.9448624,5.525135V44.366539h6.6388321V29.8637791
          c0-0.6326733,0.088768-1.4084816,0.2746811-1.9695816c0.5325699-1.6460915,1.9868393-2.9715481,3.9965744-2.9715481
          c2.7081299,0,4.0193024,2.2129116,4.0193024,6.0604668V44.366539h6.6328964V29.969698
          c0-7.5634174-3.8475418-10.5635948-8.2161179-10.5635948c-1.9207993,0-3.4495087,0.4723587-4.8237534,1.3197365
          c-1.1623001,0.7128239-2.1813202,1.7176533-3.0946274,3.0316658h-0.1001205
          c-1.0506439-2.6280193-3.5183487-4.3514023-6.7419281-4.3514023c-4.1337433,0-6.011734,2.086956-7.1167221,3.8504162h-0.1002884
          v-3.3064938"/>
        <path fill="#FFC220" d="M203.7866821,18.8541565c1.3054047,0,2.4046326-0.6813354,2.5477295-1.5573406l1.2940369-14.6573458
          C207.6284485,1.1880494,205.9194336,0,203.7866821,0c-2.1442719,0-3.8419495,1.1880494-3.8419495,2.6394703l1.3054047,14.6573458
          C201.3876495,18.172821,202.4811096,18.8541565,203.7866821,18.8541565"/>
        <path fill="#FFC220" d="M195.8473358,23.4405899c0.6468506-1.1451035,0.6096344-2.416172-0.0887604-2.9829979
          l-12.0809479-8.4480162c-1.2566528-0.7328577-3.137619,0.1402855-4.2139435,1.9896307
          c-1.0735474,1.8464727-0.8560028,3.9191208,0.3749695,4.6376743l13.3748169,6.2007408
          c0.8560028,0.3206272,1.9753113-0.274828,2.6338654-1.4084816"/>
        <path fill="#FFC220" d="M211.7242889,23.428566c0.6840515,1.1336613,1.8033752,1.7291107,2.6364899,1.4256611l13.3748169-6.217926
          c1.2424927-0.7328568,1.4285889-2.7854671,0.3779449-4.6319513c-1.0735474-1.8493443-2.9658661-2.7167549-4.2197113-1.9982033
          l-12.0837555,8.4394217c-0.6699066,0.5754166-0.7184906,1.852211-0.07164,2.9944553"/>
        <path fill="#FFC220" d="M203.7866821,37.1629601c1.3054047,0,2.4046326,0.6813393,2.5477295,1.5573463l1.2940369,14.6573486
          c0,1.4514236-1.7090149,2.6280174-3.8417664,2.6280174c-2.1442719,0-3.8419495-1.1765938-3.8419495-2.6280174l1.3054047-14.6573486
          C201.3876495,37.8442993,202.4811096,37.1629601,203.7866821,37.1629601"/>
        <path fill="#FFC220" d="M211.7242889,32.5894127c0.6840515-1.1365166,1.8033752-1.7434216,2.6364899-1.4142036
          l13.3748169,6.2064743c1.2424927,0.7185516,1.4285889,2.7883301,0.3779449,4.6376724
          c-1.0735474,1.8350334-2.9658661,2.7081718-4.2197113,1.9896202l-12.0837555-8.4508743
          c-0.6699066-0.5696907-0.7184906-1.8407593-0.07164-2.968689"/>
        <path fill="#FFC220" d="M195.8473358,32.5768166c0.6468506,1.1422424,0.6096344,2.41045-0.0887604,2.9830017l-12.0809479,8.4365616
          c-1.2566528,0.7328682-3.137619-0.1431351-4.2139435-1.9781685c-1.0735474-1.8464813-0.8560028-3.9191246,0.3749695-4.6376762
          l13.3748169-6.2064724C194.0694733,30.8477116,195.1887817,31.4488888,195.8473358,32.5768166"/>
        <path fill="#FFC220" d="M231.6495361,42.7227364h0.166153c0.2261047,0,0.3176727,0.0715675,0.3435211,0.2519264
          c0.048584,0.2003899,0.0744324,0.334938,0.1230164,0.3921967h0.4294891
          c-0.0372314-0.042942-0.085968-0.1517258-0.1116638-0.4036522c-0.0487518-0.2175674-0.1604004-0.3406677-0.3178253-0.3836098
          v-0.0400772c0.2175293-0.0486679,0.3435211-0.1946716,0.3435211-0.3750229c0-0.1631775-0.0744476-0.2805519-0.14888-0.3549843
          c-0.1430969-0.0687065-0.2804413-0.1230965-0.5839386-0.1230965c-0.2690887,0-0.4667053,0.0228996-0.6241302,0.0601158v1.620327
          h0.3807373V42.7227364z M231.6610565,41.9841423l0.1946564-0.0257645c0.2290649,0,0.3520813,0.1059227,0.3520813,0.2547874
          c0,0.1660423-0.1660004,0.2433319-0.3777771,0.2433319h-0.1689606V41.9841423z M231.9044647,40.8848419
          c-0.9389954,0-1.6833496,0.7328682-1.6833496,1.6317787c0,0.9218063,0.7443542,1.6546745,1.6833496,1.6546745
          c0.9503479,0,1.6717987-0.7328682,1.6717987-1.6546745C233.5762634,41.6177101,232.8548126,40.8848419,231.9044647,40.8848419
           M231.9044647,41.2140579c0.721283,0,1.2566528,0.5840034,1.2566528,1.3025627
          c0,0.7242737-0.5353699,1.3254585-1.2566528,1.3140068c-0.7214661,0-1.2683716-0.5897331-1.2683716-1.3140068
          c0-0.7185593,0.5469055-1.3025627,1.2568359-1.3025627"/>
      </g>
      </svg>

    <!-- Third -->
    <svg style="fill-rule:evenodd" xmlns="http://www.w3.org/2000/svg" class=" w-80 h-auto"viewBox="0 0 763.700 351.986">
      <g transform="translate(-26.7 -466)">
        <path style="fill:#f0a929" d="m 26.697,489.71 c 0,-13.08 10.700,-23.78 23.780,-23.78 l 716.138,0 c 13.081,0 23.781,10.7 23.781,23.78 l 0,304.426 c 0,13.082 -10.7,23.781 -23.781,23.781 l -716.138,0 c -13.080,0 -23.780,-10.699 -23.780,-23.781 l 0,-304.426 z"/>
        <path style="fill:#ffffff" d="m 26.697,500.489 763.700,0 0,282.865 -763.700,0 0,-282.865 z"/>
        <path fill="#e21c2a" d="m 673.913,573.953 c -34.941,0 -63.424,28.487 -63.424,63.428 0,34.928 28.483,63.419 63.424,63.419 34.934,0 63.418,-28.491 63.418,-63.419 0,-34.941 -28.484,-63.428 -63.418,-63.428 z"/>
        <path fill="#e21c2a" d="m 151.151,573.953 c -34.944,0 -63.431,28.487 -63.431,63.428 0,34.928 28.487,63.419 63.431,63.419 34.928,0 63.416,-28.491 63.416,-63.419 0,-34.941 -28.488,-63.428 -63.416,-63.428 z"/>
        <path fill="#e21c2a" d="m 668.935,518.134 c -58.712,-1.349 -86.315,36.299 -126.376,82.734 l -37.791,43.796 59.843,71.641 c 14.257,22.012 -12.954,43.858 -29.836,23.716 l -55.328,-66 -53.914,62.5 c -17.169,19.895 -44.071,-2.33 -29.509,-24.136 l 58.528,-68.061 -38.344,-45.742 24.666,-30.548 38.996,46.844 33.615,-39.102 c 16.494,-19.172 33.315,-44.578 55.116,-57.642 l -541.903,0 0,247.58 126.699,0 c 58.72,0 85.376,-35.108 124.351,-82.451 l 36.776,-44.669 -61.49,-70.232 c -14.748,-21.68 11.945,-44.141 29.29,-24.396 l 56.828,64.711 52.474,-63.731 c 16.701,-20.295 44.103,1.315 30.051,23.453 l -56.946,69.399 39.392,44.847 -24.82,29.391 -39.209,-44.222 -32.7,39.857 c -16.05,19.548 -32.297,44.48 -53.795,58.043 l 536.799,0 0,-247.58 -121.463,0 z m -417.59,119.247 c 0,55.193 -45.004,100.202 -100.194,100.202 -55.204,0 -100.208,-45.009 -100.208,-100.202 0,-55.202 45.004,-100.207 100.208,-100.207 55.19,0 100.194,45.005 100.194,100.207 z m 422.568,100.202 c -55.194,0 -100.208,-45.009 -100.208,-100.202 0,-55.202 45.014,-100.207 100.208,-100.207 55.197,0 100.2,45.005 100.2,100.207 0,55.193 -45.003,100.202 -100.2,100.202 z"/>
       </g>
      </svg>

    <!-- Fourth -->
    <svg
    xmlns="http://www.w3.org/2000/svg"
    width="400"
    height="67.510338"
    viewBox="0 0 105.83333 17.862111"
    version="1.1"
    id="svg4764"
    class=" w-96 h-auto"
    >
   <defs
      id="defs4758" />
   <sodipodi:namedview
      id="base"
      pagecolor="#ffffff"
      bordercolor="#666666"
      borderopacity="1.0"
      inkscape:pageopacity="0.0"
      inkscape:pageshadow="2"
      inkscape:zoom="3.0100001"
      inkscape:cx="200"
      inkscape:cy="33.75517"
      inkscape:document-units="px"
      inkscape:current-layer="svg4764"
      showgrid="false"
      units="px"
      fit-margin-top="0"
      fit-margin-left="0"
      fit-margin-right="0"
      fit-margin-bottom="0"
      inkscape:window-width="1920"
      inkscape:window-height="1001"
      inkscape:window-x="-9"
      inkscape:window-y="-9"
      inkscape:window-maximized="1" />
   <metadata
      id="metadata4761">
     <rdf:RDF>
       <cc:Work
          rdf:about="">
         <dc:format>image/svg+xml</dc:format>
         <dc:type
            rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
         <dc:title></dc:title>
       </cc:Work>
     </rdf:RDF>
   </metadata>
   <path
      d="m 94.702704,1.36421 c 0.413509,0.4153 0.413509,1.08959 0,1.50489 l -6.030249,6.06285 6.031143,6.05972 a 1.0699408,1.0699408 0 0 1 0,1.50801 L 93.34831,17.86211 85.179963,9.65492 a 1.0252855,1.0252855 0 0 1 0,-1.4446 L 93.345629,8.9e-4 Z M 105.5526,8.24872 a 0.96634049,0.96634049 0 0 1 0,1.36199 l -8.206301,8.25096 -1.41736,-1.42406 a 0.98241638,0.98241638 0 0 1 0,-1.38432 L 102.01948,8.93016 95.980739,2.8624 a 1.0587769,1.0587769 0 0 1 0,-1.49193 L 97.343618,0 Z m -23.621754,5.77393 v 0.0898 h -0.25409 v 0.6667 H 81.57405 v -0.6667 h -0.25409 v -0.0902 h 0.610886 z m 0.0911,0 h 0.146023 l 0.216577,0.63946 0.215239,-0.63991 h 0.145129 v 0.75691 h -0.09735 v -0.44655 c 0,-0.0156 0,-0.0411 7.94e-4,-0.0768 7.94e-4,-0.0357 0.0013,-0.0741 0.0013,-0.11521 l -0.215239,0.63857 h -0.101367 l -0.217024,-0.63857 v 0.0232 c 0,0.0188 5.29e-4,0.0469 0.0019,0.0848 l 0.0013,0.0839 V 14.779 h -0.09728 v -0.75691 z m -5.365332,-0.91052 c 1.719228,0 2.898126,-1.37851 2.898126,-3.20402 0,-1.80586 -1.178898,-3.18437 -2.898126,-3.18437 -1.700028,0 -2.878482,1.41736 -2.878482,3.22322 0,1.78621 1.178454,3.16517 2.878482,3.16517 z m 0.483168,1.82551 c -1.487913,0 -2.74362,-0.73815 -3.400499,-2.15551 v 2.00055 H 71.80749 V 1.55847 l 1.931789,-0.38851 v 5.88379 c 0.656879,-1.41781 1.912586,-2.15552 3.400499,-2.15552 2.491767,0 4.482053,1.92241 4.482053,5.02953 0,3.08747 -1.989842,5.00988 -4.482053,5.00988 z M 61.788183,10.76237 V 5.05363 h 1.931789 v 5.86414 c 0,1.2816 0.811387,2.15551 2.163995,2.15551 1.352161,0 2.163995,-0.87346 2.163995,-2.15551 V 5.05363 h 1.931787 v 5.70874 c 0,2.66056 -1.64242,4.15562 -4.095782,4.15562 -2.453809,0 -4.095784,-1.49506 -4.095784,-4.15562 z m -1.354395,4.15562 c -1.989841,0.0777 -3.091039,-0.97081 -3.091039,-3.32012 V 1.55847 l 1.931789,-0.38851 v 10.42791 c 0,0.93195 0.502372,1.35886 1.197655,1.35886 h 0.502372 v 1.90321 a 2.5587482,2.5587482 0 0 1 -0.540329,0.058 z M 47.77714,9.90811 c 0,-3.08747 2.12559,-5.00988 5.08132,-5.00988 1.39102,0 2.62752,0.44656 3.57421,1.39816 l -1.1789,1.45621 c -0.73368,-0.7377 -1.60312,-1.02886 -2.3761,-1.02886 -1.77728,0 -3.03344,1.06771 -3.03344,3.16517 0,2.09746 1.25616,3.20402 3.03344,3.20402 0.77253,0 1.64242,-0.3108 2.39575,-1.08736 l 1.17845,1.43701 c -0.94669,0.95116 -2.16399,1.47541 -3.59341,1.47541 -2.93698,0 -5.08132,-1.92241 -5.08132,-5.00988 z m -11.47507,3.98102 0.86944,-1.76701 c 0.63768,0.46576 1.77728,0.99001 2.64672,0.99001 1.08199,0 1.50711,-0.52425 1.50711,-1.08736 0.0192,-0.66 -0.52157,-0.91275 -1.66162,-1.2816 -1.91259,-0.58231 -2.99458,-1.26196 -2.99458,-3.04862 0,-1.63126 1.23695,-2.79632 3.47775,-2.79632 1.15925,0 2.2216,0.36886 3.07184,0.97081 L 42.34929,7.4811 c -0.50237,-0.3108 -1.35261,-0.77701 -2.2993,-0.77701 -0.83059,0 -1.33296,0.33045 -1.33296,0.97081 0,0.52425 0.36706,0.8739 1.58437,1.24276 2.06754,0.6216 3.09104,1.39815 3.09104,3.02941 0,1.84471 -1.48747,2.97092 -3.55456,2.97092 -1.41111,0 -2.76283,-0.46576 -3.53581,-1.02886 z M 34.90927,2.25732 h 2.08629 L 35.77871,6.08294 H 34.17514 Z M 27.64296,14.76303 H 25.71073 V 8.85961 c 0,-1.22356 -0.63768,-2.15552 -1.93179,-2.15552 -1.41066,0 -2.39576,1.24276 -2.39576,2.83517 v 5.22377 h -1.93223 v -9.7094 h 1.93223 v 1.72816 c 0.57963,-1.22355 1.64198,-1.90276 2.87848,-1.90276 1.29501,0 2.35736,0.67966 2.93653,1.84427 0.81184,-1.28161 1.89339,-1.84427 3.18839,-1.84427 2.02825,0 3.51571,1.53391 3.51571,3.99978 v 5.88422 H 31.97051 V 8.85961 c 0,-1.22356 -0.63768,-2.15552 -1.93224,-2.15552 -1.41021,0 -2.39531,1.24276 -2.39531,2.83517 z M 12.78972,6.72374 c -1.71923,0 -2.89813,1.37851 -2.89813,3.20402 0,1.80586 1.1789,3.18437 2.89813,3.18437 1.70047,0 2.87892,-1.41736 2.87892,-3.22322 0,-1.78621 -1.17889,-3.16517 -2.87892,-3.16517 z m 2.91733,6.05839 c -0.65643,1.4178 -1.91259,2.15551 -3.40006,2.15551 -2.49221,0 -4.48249,-1.92241 -4.48249,-5.02953 0,-3.08747 1.99028,-5.00988 4.48249,-5.00988 1.48747,0 2.74318,0.73771 3.40006,2.15552 V 5.05363 h 1.93223 v 9.70896 h -1.93223 z m -15.70661,1.107 0.86944,-1.76701 c 0.63768,0.46576 1.77728,0.99001 2.64672,0.99001 1.082,0 1.50712,-0.52425 1.50712,-1.08736 0.0192,-0.66 -0.52158,-0.91275 -1.66118,-1.2816 C 1.44906,10.16086 0.36706,9.48121 0.36706,7.69455 c 0,-1.63126 1.23695,-2.79632 3.47776,-2.79632 1.15925,0 2.2216,0.36886 3.07183,0.97081 L 6.04722,7.4811 C 5.54484,7.1703 4.69461,6.70409 3.74791,6.70409 c -0.83058,0 -1.33296,0.33045 -1.33296,0.97081 0,0.52425 0.36707,0.8739 1.58437,1.24276 2.06754,0.6216 3.09104,1.39815 3.09104,3.02941 0,1.84471 -1.48746,2.97092 -3.55456,2.97092 -1.41066,0 -2.76282,-0.46576 -3.5358,-1.02886 z"
      id="path2"
      inkscape:connector-curvature="0"
      style="fill:#0067a0;fill-rule:evenodd;stroke-width:0.4465529" />
 </svg>
  </div>
</section>
