---
import FeatureOne from "../assets/object-one.svg";
import FeatureTwo from "../assets/object-two.svg";
import FeatureThree from "../assets/object-three.svg";
---

<section class="solutions slide-in-right" id="features">
  <div class="container-css">
    <div class="row">
      <div class="sol-wrap one-third column">
        <div class="sol-media m-margin">
          <img
            class="rotate rotate-12"
            src="https://purepng.com/public/uploads/large/purepng.com-juicejuicebeverageliquidfruit-and-vegetablesbeverages-1701527235196avjxc.png"
            alt="Prospect"
          />
        </div>
        <h3 class="h3-title ">El Sabor del Momento</h3>
        <p>
          Disfruta el jugo de mandarina más fresco y natural, disponible solo
          durante esta temporada. Sin azúcares añadidos ni conservadores,
          directo del campo a tu mesa
        </p>
        <button class="hero__button button button--white bg-white">
          Ordena Ahora
        </button>
      </div>
      <div class="sol-wrap one-third column">
        <div class="sol-media m-margin">
          <img
            src="https://purepng.com/public/uploads/large/purepng.com-juicejuicebeverageliquidfruit-and-vegetablesbeverages-1701527235196avjxc.png"
            alt="Marketing"
          />
        </div>
        <h3 class="h3-title">El Favorito de Siempre</h3>
        <p>
          Hecho con las mejores naranjas, nuestro jugo clásico es 100% natural,
          ideal para cualquier momento del día. Frescura y energía en cada
          sorbo.
        </p>
        <button class="hero__button button button--white bg-white">
          Descubre Más
        </button>
      </div>
      <div class="sol-wrap one-third column">
        <div class="sol-media m-margin">
          <img
            src="https://purepng.com/public/uploads/large/purepng.com-juicejuicebeverageliquidfruit-and-vegetablesbeverages-1701527235196avjxc.png"
            alt="Automation"
          />
        </div>
        <h3 class="h3-title">Explosión de Sabores</h3>
        <p>
          Una combinación perfecta de dulzura y frescura. Este mix es una
          explosión tropical que encantará a tu paladar y revitalizará tus días.
        </p>
        <button class="hero__button button button--white bg-white">
          Pruébalo Hoy
        </button>
      </div>
    </div>
  </div>
</section>

<style>
  .solutions .container-css {
    background-color: #ff6a3e;
    border-radius: 40px;
    padding: 40px;
  }

  .solutions h3,
  .solutions p {
    color: #fff;
  }

  .solutions img {
    width: 150px;
  }

  @media (max-width: 700px) {
    .solutions {
      text-align: center;
    }

    .solutions .sol-wrap {
      padding: 20px;
    }
  }
</style>
