<section class="fine-section padded" id="customers">
  <div class="container-css">

    <div class="testimony">
      <div class="flex">
        <div class="customer-pic">
          <div class="circular-image">
            <img
            class="rotate-in-bottom"
              src="/img/JJUGOS_IMAGENES_6.png"
            />
          </div>
        </div>
        <div class="customer-testimony">
          <h4 class="h3-title">
            Desde hace más de una década, en JJ Jugos Naturales trabajamos para ofrecerte jugos
            auténticamente frescos y 100% naturales. Nuestro proceso comienza desde la plantación de la
            semilla hasta llegar a tu mesa, asegurándonos de que cada gota de jugo conserve su pureza y sabor
            original.
          </h4>
          <p>De la semilla a tu mesa: una historia de calidad y compromiso.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>

  .fine-section {
    background-color: #ff6a3e;
    .container-css {
      position: relative;
    }
  }

  .testimony {
    background-color: #ff6a3e;
    padding: 60px 20px 20px 20px;
    border-radius: 20px;
  }

  .customer-testimony {
    width: 70%;
    h4,
    p {
      color: #fff;
    }
  }

  .customer-pic {
    width: 30%;
  }

  .circular-image {
    width: 240px;
    height: 240px;
    display: inline-block;
    position: absolute;
    img {
      width: 100%;
      border-radius: 20px;
      transform: translateY(-45px) rotate(-4deg);
    }
  }

  .arrow-image {
    position: absolute;
    top: -200px;
    img {
      width: 200px;
    }
  }

  @media (max-width: 900px) {
    .flex {
      flex-direction: column;
      .circular-image {
        position: relative;
      }
      .customer-testimony {
        width: 100%;
      }
    }
    .fine-section {
      margin-top: 70px;
    }
  }
</style>
