<section class="fine-section padded" id="customers">
  <div class="container-css">

    <div class="testimony">
      <div class="flex">
        <div class="customer-pic">
          <div class="circular-image">
            <img
            class="rotate-in-bottom"
              src="https://plus.unsplash.com/premium_photo-1678469638470-e269e9b898b6?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fGZydWl0c3xlbnwwfHwwfHx8MA%3D%3D"
            />
          </div>
        </div>
        <div class="customer-testimony">
          <h4 class="h3-title">
            "I’ve been a happy Astrobrew customer since 2018. Then and now,
            Plutio has helped me keep my projects organized and effortless. My
            clients love it too - they feel more important and involved than
            ever before."
          </h4>
          <p>Claire Rick, Lead Developer @Slack</p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>

  .fine-section {
    background-color: #ff6a3e;
    .container-css {
      position: relative;
    }
  }

  .testimony {
    background-color: #ff6a3e;
    padding: 60px 20px 20px 20px;
    border-radius: 20px;
  }

  .customer-testimony {
    width: 70%;
    h4,
    p {
      color: #fff;
    }
  }

  .customer-pic {
    width: 30%;
  }

  .circular-image {
    width: 240px;
    height: 240px;
    display: inline-block;
    position: absolute;
    img {
      width: 100%;
      border-radius: 20px;
      transform: translateY(-45px) rotate(-4deg);
    }
  }

  .arrow-image {
    position: absolute;
    top: -200px;
    img {
      width: 200px;
    }
  }

  @media (max-width: 900px) {
    .flex {
      flex-direction: column;
      .circular-image {
        position: relative;
      }
      .customer-testimony {
        width: 100%;
      }
    }
    .fine-section {
      margin-top: 70px;
    }
  }
</style>
