---
import RepetedSection from "./RepetedSection.astro";
---
<RepetedSection>
            <div class="flex flex-col items-start gap-8 sm:gap-10 bg-image">
                <div class="flex flex-col gap-4 sm:gap-6 items-start max-w-7xl">
                    <h1
                        class="font-medium text-white tracking-tight lg:text-6xl sm:text-5xl text-4xl"
                    >
                    Jjugos jugos de calidad
                    </h1>
                    <p
                        class="dark:text-primary-200/70 text-primary-250/70 text-lg sm:text-xl text-white "
                    >
                    calidez y frescura en cada sorbo
                    </p>
                </div>
            </div>
</RepetedSection>