---
import JjugosLogo from "./JjugosLogo.astro";
---

<div class="hero-image-start"></div>
<div class="preloader">
  <p class="preloader__text">
    <span>Say hello to N3</span>
  </p>
  <div class="preloader__background"></div>
</div>
<div class="hero__wrapper">
  <section class="hero">
    <div class="hero__image">
      <img src="https://images.unsplash.com/photo-1528873981-36c6afde7b9d?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="N3 Bike" />
    </div>
    <div class="hero__content">
      <p class="hero__caption">
       <JjugosLogo />
      </p>
      <h1 class="hero__title">
        <span>
          <span>Jugos 100%</span>
        </span>
        <span>
          <span>Naturales Pausterizados</span>
        </span>
      </h1>
      <button class="hero__button button button--white">
        Explorar
      </button>
    </div>
  </section>
</div>

<script type="module">
  import gsap from '../node_modules/gsap/index.js';

  import { Flip } from '../node_modules/gsap/Flip.js';

  gsap.registerPlugin(Flip);

  const preloaderBackground = document.querySelector('.preloader__background');

  const preloaderText = document.querySelector('.preloader__text');

  const master=gsap.timeline();

  const setInitialStates=()=>{
    gsap.set(preloaderText,{
      yPercent:100
    })
  }

  master.add(setInitialStates());
</script>

<style>
  .preloader {
	overflow: hidden;
	opacity: 0;
}

.preloader__background {
	position: fixed;
	inset: 0;
	z-index: 2;

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: black;
	color: white;
}

.preloader__text {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	line-height: 1;
	z-index: 3;
	color: white;
}

.preloader__text span {
	display: block;
}

  .hero {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #181818;
	text-align: center;
	padding-inline: 24px;
}

.hero__wrapper {
	border-radius: 16px;
	overflow: hidden;
	height: calc(100vh - 124px);
	margin-inline: 24px;
}

.hero__image {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
}

.hero__caption {
	overflow: hidden;
	margin-bottom: 32px;
	font-size: 108px;
}

.hero__caption span {
	display: block;
}

.hero__title {
	font-size: 104px;
	font-weight: 400;
	max-width: 11ch;
	margin-bottom: 64px;
	line-height: 1.2;
	letter-spacing: -0.03em;
}

.hero__title span {
	display: block;
	overflow: hidden;
	line-height: 1.05;
}

.hero__title span span {
	display: block;
}

.hero-image-start {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100vh;
}
</style>