---
import MainTitle from './MainTitle.astro'

import productos from '../data/productos.json'
import { ProductCard } from './Producto'

---

<section
class="text-center flex justify-center items-center mt-24"
>
  <MainTitle title="Conoce Nuestros Productos" />
</section>


<div class="w-full px-24">
  <!-- <div class="product-card red">
      <img class="product-card__product" alt="" src="https://static.vecteezy.com/system/resources/previews/010/064/040/non_2x/realistic-cans-white-for-mock-up-soda-can-mock-up-free-png.png"/>
      <div class="product-card__fruit">
        <img alt="" src="https://i.pinimg.com/originals/28/3e/53/283e53880ea4fd483c4968d89b143866.png"/>
      </div>
      <div class="product-card__fruit">
        <img alt="" src="https://static.vecteezy.com/system/resources/previews/029/200/071/non_2x/watermelon-transparent-background-free-png.png"/>
      </div>
      <div class="product-card__fruit">
        <img alt="" src="https://i.pinimg.com/originals/28/3e/53/283e53880ea4fd483c4968d89b143866.png"/>
      </div>
    </div>
    <div class="product-card yellow">
      <img class="product-card__product" alt="" src="https://static.vecteezy.com/system/resources/previews/010/064/040/non_2x/realistic-cans-white-for-mock-up-soda-can-mock-up-free-png.png"/>
      <div class="product-card__fruit">
        <img alt="" src="https://static.vecteezy.com/system/resources/previews/021/938/946/original/yellow-slice-lemon-isolated-on-a-transparent-background-png.png"/>
      </div>
      <div class="product-card__fruit">
        <img alt="" src="https://static.vecteezy.com/system/resources/thumbnails/021/938/946/small/yellow-slice-lemon-isolated-on-a-transparent-background-png.png"/>
      </div>
      <div class="product-card__fruit">
        <img alt="" src="https://pngimg.com/uploads/lemon/lemon_PNG25198.png"/>
      </div>
    </div>
    <div class="product-card purple">
      <img class="product-card__product" alt="" src="https://static.vecteezy.com/system/resources/previews/010/064/040/non_2x/realistic-cans-white-for-mock-up-soda-can-mock-up-free-png.png"/>
      <div class="product-card__fruit">
        <img alt="" src="https://static.vecteezy.com/system/resources/previews/035/906/662/non_2x/ai-generated-assorted-fresh-berries-on-transparent-background-free-png.png"/>
      </div>
      <div class="product-card__fruit">
        <img alt="" src="https://www.freepnglogos.com/uploads/blueberries-png/blueberries-blueberry-sch-boden-spies-7.png"/>
      </div>
      <div class="product-card__fruit">
        <img alt="" src="https://i.pinimg.com/originals/28/3e/53/283e53880ea4fd483c4968d89b143866.png"/>
      </div>
    </div>
    <div class="product-card blue">
      <img class="product-card__product" alt="" src="https://static.vecteezy.com/system/resources/previews/010/064/040/non_2x/realistic-cans-white-for-mock-up-soda-can-mock-up-free-png.png"/>
      <div class="product-card__fruit">
        <img alt="" src="https://pngimg.com/d/blueberries_PNG30.png"/>
      </div>
      <div class="product-card__fruit">
        <img alt="" src="https://png.pngtree.com/png-vector/20231123/ourmid/pngtree-a-bunch-of-plump-blueberries-standing-alone-on-a-pure-png-image_10623885.png"/>
      </div>
      <div class="product-card__fruit">
        <img alt="" src="https://www.freepnglogos.com/uploads/blueberries-png/blueberries-blueberry-sch-boden-spies-7.png"/>
      </div>
    </div>
    <div class="product-card light-orange">
      <img class="product-card__product" alt="" src="https://static.vecteezy.com/system/resources/previews/010/064/040/non_2x/realistic-cans-white-for-mock-up-soda-can-mock-up-free-png.png"/>
      <div class="product-card__fruit">
        <img alt="" src="https://pngfre.com/wp-content/uploads/orange-poster.png"/>
      </div>
      <div class="product-card__fruit">
        <img alt="" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/25d45014-8cc3-4c98-b02c-5a0cf3a55ddd/ddkujx9-a071d9dc-86b0-49e1-900f-80fe52ee1df3.png/v1/fill/w_900,h_834/slices_of_orange_on_a_transparent_background__by_prussiaart_ddkujx9-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI1ZDQ1MDE0LThjYzMtNGM5OC1iMDJjLTVhMGNmM2E1NWRkZFwvZGRrdWp4OS1hMDcxZDlkYy04NmIwLTQ5ZTEtOTAwZi04MGZlNTJlZTFkZjMucG5nIiwiaGVpZ2h0IjoiPD04MzQiLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLndhdGVybWFyayJdLCJ3bWsiOnsicGF0aCI6Ilwvd21cLzI1ZDQ1MDE0LThjYzMtNGM5OC1iMDJjLTVhMGNmM2E1NWRkZFwvcHJ1c3NpYWFydC00LnBuZyIsIm9wYWNpdHkiOjk1LCJwcm9wb3J0aW9ucyI6MC40NSwiZ3Jhdml0eSI6ImNlbnRlciJ9fQ.SPBT8uUuhlLzN3cc3c4P4UiEHSy_j_Mq6WHMv2opsYk"/>
      </div>
      <div class="product-card__fruit">
        <img alt="" src="https://static.vecteezy.com/system/resources/previews/008/843/930/non_2x/orange-fruit-on-white-background-png.png"/>
      </div>
    </div>
    <div class="product-card blue">
      <img class="product-card__product" alt="" src="https://static.vecteezy.com/system/resources/previews/010/064/040/non_2x/realistic-cans-white-for-mock-up-soda-can-mock-up-free-png.png"/>
      <div class="product-card__fruit">
        <img alt="" src="https://pngimg.com/d/blueberries_PNG30.png"/>
      </div>
      <div class="product-card__fruit">
        <img alt="" src="https://png.pngtree.com/png-vector/20231123/ourmid/pngtree-a-bunch-of-plump-blueberries-standing-alone-on-a-pure-png-image_10623885.png"/>
      </div>
      <div class="product-card__fruit">
        <img alt="" src="https://www.freepnglogos.com/uploads/blueberries-png/blueberries-blueberry-sch-boden-spies-7.png"/>
      </div>
    </div>
    <div class="product-card green">
      <img class="product-card__product" alt="" src="https://static.vecteezy.com/system/resources/previews/010/064/040/non_2x/realistic-cans-white-for-mock-up-soda-can-mock-up-free-png.png"/>
      <div class="product-card__fruit">
        <img alt="" src="https://png.pngtree.com/png-clipart/20231019/original/pngtree-a-fresh-lime-slice-with-juicy-pulp-in-isolation-on-a-png-image_13365359.png"/>
      </div>
      <div class="product-card__fruit">
        <img alt="" src="https://static.vecteezy.com/system/resources/previews/008/525/466/original/lime-slice-transparent-png.png"/>
      </div>
      <div class="product-card__fruit">
        <img alt="" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/25d45014-8cc3-4c98-b02c-5a0cf3a55ddd/dcc7m3m-4b58f034-8827-4b22-908b-3eba194d0b38.png/v1/fill/w_1024,h_990/lemons_lime_on_a_transparent_background__by_prussiaart_dcc7m3m-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI1ZDQ1MDE0LThjYzMtNGM5OC1iMDJjLTVhMGNmM2E1NWRkZFwvZGNjN20zbS00YjU4ZjAzNC04ODI3LTRiMjItOTA4Yi0zZWJhMTk0ZDBiMzgucG5nIiwiaGVpZ2h0IjoiPD05OTAiLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS53YXRlcm1hcmsiXSwid21rIjp7InBhdGgiOiJcL3dtXC8yNWQ0NTAxNC04Y2MzLTRjOTgtYjAyYy01YTBjZjNhNTVkZGRcL3BydXNzaWFhcnQtNC5wbmciLCJvcGFjaXR5Ijo5NSwicHJvcG9ydGlvbnMiOjAuNDUsImdyYXZpdHkiOiJjZW50ZXIifX0.tzU46HNvjGUEofCol0h2ik36FeWhK11GB9gOEy3pw9E"/>
      </div>
    </div>
    <div class="product-card orange">
      <img class="product-card__product" alt="" src="https://static.vecteezy.com/system/resources/previews/010/064/040/non_2x/realistic-cans-white-for-mock-up-soda-can-mock-up-free-png.png"/>
      <div class="product-card__fruit">
        <img alt="" src="https://pngimg.com/d/cherry_PNG609.png"/>
      </div>
      <div class="product-card__fruit">
        <img alt="" src="https://static.vecteezy.com/system/resources/previews/027/291/706/original/cherries-falling-into-water-on-a-transparent-background-free-png.png"/>
      </div>
      <div class="product-card__fruit">
        <img alt="" src="https://png.pngtree.com/png-clipart/20201208/original/pngtree-cut-mature-cherries-png-image_5529965.jpg"/>
      </div>
    </div> -->
    {Object.entries(productos).map(([categoria, items]) => (
        <h2 class="text-2xl font-semibold text-gray-800 mb-6 capitalize">{categoria.replaceAll('_', ' ')}</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
          {items.map(producto => (
            <ProductCard  data={producto} client:visible/>
          ))}
        </div>
    ))}
  </div>

  <style>
      .cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
}
  </style>




