---
import MainTitle from './MainTitle.astro'

import productos from '../data/productos.json'
import { ProductCard } from './Producto'

---

<section
class="w-full mt-36"
>
<section
class="text-center w-full"
>
  <MainTitle  title="Conoce Nuestros Productos" />

  <h6 class="text-base text-gray-500 font-semibold ">
    pasa el cursor sobre los productos para ver m치s detalles o haz clic en ellos para ver m치s informaci칩n.
  </h6>
</section>

  <div class="w-full px-4 lg:px-24">
    {Object.entries(productos).map(([categoria, items]) => (
      <>
        <section class="w-full flex flex-col items-center justify-center my-10">
                    {categoria === "bebidas_de_sabores" && (
            // Logo centrado solo en la secci칩n de bebidas
            <div class="col-span-full flex justify-center my-6">
              <img
                src="/img/svgLogos/LOGOS_PNG/logo.png"
                alt="JJ Jugos Naturales"
                class="w-40 h-auto"
                loading="lazy"
              />
            </div>
          )}
          <h2 class="text-foreground sm:text-6xl text-4xl uppercase text-center">{categoria.replaceAll('_', ' ')}</h2>
        </section>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 items-center">

          {items.map(producto => (
            <ProductCard data={producto} client:visible />
          ))}
        </div>
      </>
    ))}
  </div>
</section>


  <style>
      .cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
}
  </style>




