---
import MainTitle from './MainTitle.astro'

import productos from '../data/productos.json'
import { ProductCard } from './Producto'

---

<section
class="w-full mt-36"
>
<section
class="text-center w-full"
>
  <MainTitle  title="Conoce Nuestros Productos" />
</section>

<div class="w-full px-24">
    {Object.entries(productos).map(([categoria, items]) => (
      <section
      class="w-full flex flex-col items-center justify-center my-10"
      >
        <h2 class="text-foreground sm:text-6xl text-4xl uppercase">{categoria.replaceAll('_', ' ')}</h2>
      </section>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
          {items.map(producto => (
            <ProductCard  data={producto} client:visible/>
          ))}
        </div>
    ))}
  </div>
</section>


  <style>
      .cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
}
  </style>




