---
import Showcase from '../assets/tweet.svg'
import Cursor from '../assets/cursor.svg'
---


<section class="product-hero">
    <div class="container-css">
       <div class="row">
           <div class="one-half column
           slide-in-left
           ">
              <div class="d-cell">
               <h1 class="h1-title">The simple yet powerful alternative to <span>Zendesk.</span></h1>
               <div class="content">
                   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente itaque minima aliquid ea earum similique dolore magni, nam adipisci </p>
               </div>
              </div>
           </div>
           <div class="one-half column hero-media">
               <img
               
               src="https://images.unsplash.com/flagged/photo-1557753478-b9fb74f39eb5?q=80&w=2848&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
               class="u-full-width max-h-[55rem] object-cover fade-in-left" alt="Hero illustrator">
               <img src="https://static.vecteezy.com/system/resources/previews/027/536/309/non_2x/green-lemon-green-lemon-green-lemon-transparent-background-ai-generative-free-png.png" alt="Cursor icon">
           </div>
       </div>
    </div>
   </section>

<style>

.product-hero {
    padding: 70px 0;
}

.product-hero .one-half {
    display: table;
    height: 400px;
    margin-bottom: 40px;
}

.product-hero .one-half .d-cell {
    display: table-cell;
    vertical-align: middle;
}

.product-hero .hero-media {
    position: relative;
}

.product-hero .hero-media img:not(.u-full-width) {
    width: 80px;
    position: absolute;
    left: 20px;
    bottom: 0;
}

</style>