---
import Showcase from '../assets/tweet.svg'
import Cursor from '../assets/cursor.svg'
---


<section class="product-hero">
    <div class="container-css">
       <div class="row">
           <div class="one-half column
           slide-in-left
           ">
              <div class="d-cell">
               <h1 class="h1-title">Sabor Natural, Frescura <span>Garantizada.</span></h1>
               <div class="content">
                   <p>Jugos 100% naturales hechos desde la semilla hasta tu mesa. Descubre la calidad y
                    frescura que solo JJ Jugos puede ofrecer.</p>
               </div>
              </div>
           </div>
           <div class="one-half column hero-media">
               <img
               
               src="/img/JJUGOS_IMAGENES.png" 
               class="u-full-width max-h-[55rem] object-cover fade-in-left" alt="Hero illustrator">
               <img src="https://static.vecteezy.com/system/resources/previews/027/536/309/non_2x/green-lemon-green-lemon-green-lemon-transparent-background-ai-generative-free-png.png" alt="Cursor icon">
           </div>
       </div>
    </div>
   </section>

<style>

.product-hero {
    padding: 70px 0;
}

.product-hero .one-half {
    display: table;
    height: 400px;
    margin-bottom: 40px;
}

.product-hero .one-half .d-cell {
    display: table-cell;
    vertical-align: middle;
}

.product-hero .hero-media {
    position: relative;
}

.product-hero .hero-media img:not(.u-full-width) {
    width: 80px;
    position: absolute;
    left: 20px;
    bottom: 0;
}

</style>