---
const {title,color,isGradient} =Astro.props;
---
<h1 class=`font-bold pb-8 text-${color} font-heading leading-tighter tracking-tighter mt-4 mb-4 md:text-6xl text-5xl ${isGradient?"bg-gradient-to-r from-orange-400 via-red-500 to-yellow-500 bg-clip-text text-transparent text-clip h4-gradient":" "}`>
    {title}
</h1>