---
import ViewTransitions from 'astro/components/ViewTransitions.astro';
import Navbar from '../components/Navbar.astro';
import Whats from '../components/Whats.astro';
import ClientsSection from '../components/ClientsSection.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
         <link rel="stylesheet" href="assets/css/main.css">
		 <ViewTransitions />
		<title>{title}</title>
	</head>
	<body>
        <Navbar />
        <main id="main-section">
		<slot />
        </main>
        <ClientsSection title='Nuestros clientes' subTitle='Confían en nosotros' />
		<!-- <Footer /> -->
        <Whats />
	</body>
</html>

<style>
	html,
body {
		margin: 0;
		padding: 0;
		overflow: scroll;
	}
</style>